/* Colors */
$primaryColor: #63233d;
$primaryColorFade: #63233D99;
$secondaryColor: #F03E74;
$extraColor: #2d0610;
$textColor: #000000;
$textMedium: #343a40;
$textLight: #6c757d;
$backgroundLight: #fdf7f9;
$backgroundLightFade: #FDF7F998;
$backgroundMedium: #eeeeee;
$backgroundMediumFade: #EEEEEE99;
$backgroundDark: #e3e3e3;
$backgroundDarkFade: #E3E3E399;
$specialColor: #007bff;
$specialColorFade: #007BFF98;
