<main>
  <section class="form-section">
    <img ngSrc="/assets/Login/horizontal-logo.svg" class="horizontal-logo" alt="horizontal-logo" height="80" width="250" priority="auto"/>
    <h2>{{ title }}</h2>
    <ng-content></ng-content>
    <div class="button-wrapper">
      <button class="login-button">{{ primaryButtonText }}</button>
      <div class="divider">
        <div></div>
        <span>or</span>
        <div></div>
      </div>
      <button class="signup-button">{{ secondaryButtonText }}</button>
    </div>
  </section>
  <section class="main-section">
    <h2>A world of pure imagination</h2>
    <img ngSrc="/assets/Login/logo.svg" class="logo" alt="logo" height="450" width="450" priority="auto"/>
  </section>
</main>
